/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/

$body-bg: #FAFCFE;
$body-color: #0577FE;
$font-family-sans-serif: "Poppins",
sans-serif;
$primary: #FEB5D2;
$secondary: #FECFB5;
$warning: #EDE281;
$success: #B9F6B0;







//stay at the bottom
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body { padding-top: 70px; }

.MuiCard-root:hover {
    background-color: $secondary !important;
}

.check-in-btn {
    text-decoration: none;
}