/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/

$body-bg: #FAFCFE;
$body-color: #3B79F6;
$font-family-sans-serif: "Poppins",
sans-serif;
$primary: #D3A0E5;
$secondary: #EB5A17;
$warning: #EDE281;







//stay at the bottom
@import "../node_modules/bootstrap/scss/bootstrap.scss";

