/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/

$body-bg: #cecece;
$body-color: #5e5e5e;
$font-family-sans-serif: "Poppins",
sans-serif;
$primary: #7be29a;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

